<aside class = "cat-care-container">
<div class = "cat-grooming">
  <div class = "cat-grooming-image-container">
    <img src = "images/brush.jpg">
  </div>
  <div class = "cat-grooming-title">
    <a href = "#" id = "Groom"> Groom </a>
  </div>
</div>
<div class = "cat-feeding">
  <div class = "cat-feeding-image-container">
    <img src = "../images/bowl.jpg">
  </div>
  <div class = "cat-feeding-title">
    <a href = "#" id = "Feed"> Feed </a>
  </div>
</div>
<div class = "cat-playing">
<div class = "cat-playing-image-container">
   <img src = "images/cat_toy.jpg">
</div>
  <div class = "cat-playing-title">
    <a href = "#" id = "Play"> Play </a>
  </div>
</div>
</aside>
