<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Cattery</title>
      <script>history.scrollRestoration = "manual"</script>
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js"></script>
      <script src="/catCardTemplate.js"></script>
      <script src="/index.js" charset="utf-8" defer></script>

   </head>

   <body>

    <header>
	    <div class="headerImageContainer">
	       <img src="images/paw3.png" alt="Cattery Logo">
	    </div>

	    <h1 class="siteTitle">Cattery</h1>
    </header>

    <main class="content">
      <aside class = "cat-care-container">
	    <div class = "cat-grooming">
	      <div class = "cat-grooming-image-container">
	        <img src = "images/brush.jpg">
	      </div>
	      <div class = "cat-grooming-title">
	        <a href = "#" id = "Groom"> Groom </a>
	      </div>
	    </div>
	    <div class = "cat-feeding">
	      <div class = "cat-feeding-image-container">
	        <img src = "../images/bowl.jpg">
	      </div>
	      <div class = "cat-feeding-title">
	        <a href = "#" id = "Feed"> Feed </a>
	      </div>
	    </div>
	    <div class = "cat-playing">
	    <div class = "cat-playing-image-container">
	       <img src = "images/cat_toy.jpg">
	    </div>
	      <div class = "cat-playing-title">
	        <a href = "#" id = "Play"> Play </a>
	      </div>
	    </div>
      </aside>

      <section id="cats">

      {{{body}}}

    </section>

    </main>

      <div id="modal-backdrop" class="hidden"></div>
      <div id="main-modal" class="hidden">

        <div class="modal-header">
          <h3>Enter Name :</h3>
        </div>

        <div class="modal-body">
          <div class="input-element">
            <input type="text" id="text-input"></input>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" id="modal-enter" class="enter-button">Enter</button>
        </div>
      </div>

    </body>
</html>
