a {
  text-decoration: none;
  color: #000;
}
header {
  background-color: #18bc9c;
  display: flex;
  align-items: center;
  position: relative;
}

.siteTitle {
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
  font-weight: 120;
  margin: 0 0 10px 50px;
  padding-top: 20px;
}

.content {
    display: flex;
}

.cat-care-container{
    font-family: 'Amatic SC', cursive;
    font-size:25px;
    text-align: center;
  display: inline-block;
  min-width: 150px;
  max-width: 150px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
 }

 a:hover{
    text-decoration: underline;
 }

 .siteTile a:hover{
    text-decoration:none;
 }

.CatCard {
  display: inline-block;
  padding: 15px;
  border: 2px solid #cccccc;
  border-radius: 15px;
  margin: 10px;
}

.CatImageHolder img {
  max-height: 300px;
  border-radius: 10px
}

.CatStatsHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stat-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stat-icon {
  padding: 15px;
  max-height: 40px;
}

.hidden {
  display: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
}

#main-modal {
  width: 350px;
  height: 150px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  background-color: white;
  padding: 30px;
}

.modal-header h3 {
  font-family: 'Amatic SC', sans-sans-serif;
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  left: 50px;
  top: 10px;
}

#modal-enter {
  position: absolute;
  right: 40px;
  bottom: 30px;
  cursor: pointer;
  font-size: 20px;
}

.input-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

#text-input {
    font-size: 25px;
}

.error-container {
  font-family: 'Amatic SC', serif;
  text-align: center;
}

.error-container h2 {
  font-size: 128px;
  margin-top: 50px;
  margin-bottom: 0;
}

.error-container h3 {
  font-size: 32px;
  margin: 0;
}
